body {
	 background-color:  green;

	
}
img {

    width: 350px;
    height:350px;
}
h1 {
	color: pink;
}
     #container{
         width: 250;
         margin: 0 auto;
     }
   p{
    	color: blue;
    	font-size: 60px;
    	background-color: gray;
    	text-align: center;
    }
    .textbold{
            font-weight: normal;
            font-size: 30px;
            }


ul li {

display: inline;
margin: 7px;
font-size: 30px;

}